.header-item {
  position: relative;
}

.header-item:hover .header-dropdown {
  opacity: 1;
  visibility: visible;
}

.header-dropdown {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
  z-index: 10;
  top: 30px;
}